@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* universal */

body {
    margin: 0;
}

button {
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 600;
}

* {
    font-family: 'Roboto', sans-serif;
}

#main {
    display: flex;
    flex-direction: column;
}

/* the header section */
#header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

#navbar {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

#header p {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

#header h1 {
    color: #F9FAF8;
    font-weight: 800;
    font-size: 48px;
    margin: 0;
}

#links {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
}

#links li {
    list-style-type: none;
}

#links a{
    font-size: 20px;
    text-decoration: none;
    color: #E5E7EB;
}


#headerContent {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#headerText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 500px;
}

#headerImg {
    width: 400px;
}

#headerImg img {
    width: 100%;
}

/* the cards section*/
#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    gap: 30px;
}

#info h1 {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 48px;
}

.card {
    width: 175px;
    text-align: center;
}

.subcard {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 100%;
    height: 200px;
}

.cardText {
    color: #1F2937;
    font-weight: 300;
    font-size: 18px;
}

/* The quote section */
#quote {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#actualquote {
    width: 70%;
}

#authordiv {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}

.quoteText {
    color: #1F2937;
    font-weight: 300;
    font-size: 36px;
    font-style: italic;
}

.authortext {
    font-weight: 600;
    color: #2a3341;
    font-size: 20px;
}

/* the ad section */
#ad {
    margin-top: 20px;
    margin-bottom: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adcard {
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    color: white;
    background: #3882F6;
    border: 3882F6;
    padding: 10px;
}

.adcard h1 {
    font-weight: bold;
    font-size: 24px;
}

.adcard button {
    border-radius: 5px;
    border: 2px solid white;
}

#footer {
    background: #1F2937;
    color: white;
}

#footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}